/* Retira a margem padrão de todos os elementos da página */
* {
    margin: 0;
}

/* Caracteriza o body da página */
body {
    animation: loadAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    font-family: 'Raleway';
    background-color: rgb(36, 36, 36);
    color: white;
}

/* Caracteriza o header da página */
header {
    animation: bottomSlideInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

/* Caracteriza o link na sua forma ativada do item da lista não ordenada do header */
header ul li.active a {
    color: white !important;
}

/* Caracteriza o item da lista não ordenada do header */
ul li {
    display: inline;
}

/* Caracteriza o item da lista não ordenada do header */
ul li a {
    font-family: 'Montserrat';
    text-decoration: none;
    font-size: 14px;
    border-width: 3px !important;
    border-bottom-style: solid !important;
    border-color: transparent !important;
}

/* Caracteriza o item da lista não ordenada do header e o link na sua forma ao ser clicado do item da lista não ordenada */
ul li a,
header ul li a:visited {
    color: white !important;
}

/* Caracteriza o link do item da lista não ordenada ao passar o mouse sobre e ao ser clicado */
ul li a:hover,
ul li a:active {
    border-width: 3px !important;
    border-bottom-style: solid !important;
    border-color: #985DC7 !important;
}

/* Caracteriza o rodapé da página */
footer {
    color: black;
}

/* Caracteriza o título h6 do rodapé da página */
footer h6 {
    font-weight: 600;
    width: 97%;
}

/* Caracteriza o título h1 */
h1 {
    font-weight: 800;
    font-size: 50px;
}

/* Caracteriza o título h2 */
h2 {
    font-weight: 800;
    font-size: 26px;
    margin: 0;
}

/* Caracteriza o título h3 */
h3 {
    font-size: 35px;
    font-weight: 700;
}

/* Caracteriza o título h5 e 56 */
h5,
h6 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 1px;
}

video {
    object-fit: cover;
    overflow: auto;
}


/* Caracteriza o placeholder do input e da textarea */
input::placeholder,
textarea::placeholder {
    color: whitesmoke;
}

/* Caracteriza o input e a textarea ao ser focado */
textarea:focus,
input:focus {
    color: white;
}

/* Caracteriza a textarea e o input */
textarea,
input {
    color: white;
}

/* Caracteriza o botão com a classe btn */
button.btn {
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 500;
    background-color: #985DC7;
    border-color: #985DC7;
}

/* Caracteriza o link com a classe btn */
a.btn {
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 500;
    background-color: #985DC7;
    border-color: #985DC7;
}

/* Caracteriza a classe btn */
.btn {
    color: white;
}

/* Caracteriza a classe btn ao passar o mouse sobre */
.btn:hover {
    background-color: #7d48a8;
    border-color: #7d48a8;
}

/* Caracteriza a classe navbar-toggler */
.navbar-toggler {
    border: 0;
}

/* Caracteriza o id header */
#header {
    transition: background-color 1s;
}

/* Caracteriza a classe bg-header */
.bg-header {
    transition: background-color 1s;
    background-color: #985DC7;
}

/* Caracteriza o link ao passar o mouse sobre e ao ser clicado no item da lista não ordenada na classe bg-header */
.bg-header ul li a:hover,
.bg-header ul li a:active {
    border-width: 3px !important;
    border-bottom-style: solid !important;
    border-color: #ffffff !important;
}

/* Caracteriza a classe half-content */
#half-content {
    position: relative;
    width: 100%;
    height: 90%;
    z-index: 2;
}

/* Caracteriza a classe half-content-bg */
#half-content-bg {
    background-image: url('media/effect.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    mix-blend-mode: multiply;
    opacity: .6;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}

/* Caracteriza a classe first-content */
#first-content {
    animation-delay: .25s;
    transform: translateX(-100%);
}

/* Caracteriza a imagem com a descrição "js-icon" dentro do id first-content */
#first-content img[alt=js-icon] {
    height: 175px;
    z-index: 1;
    position: absolute;
}

/* Caracteriza a imagem com a descrição "html-icon" dentro do id first-content */
#first-content img[alt=html-icon] {
    height: 175px;
    z-index: 1;
    top: 10px;
    left: 0;
    position: absolute;
}

/* Caracteriza a imagem com a descrição "css-icon" dentro do id first-content */
#first-content img[alt=css-icon] {
    height: 175px;
    z-index: 2;
    bottom: 0;
    right: 0;
    position: absolute;
}

/* Caracteriza a classe about-person */
.about-person {
    opacity: 0;
    transform: translateY(100px);
}

/* Caracteriza o primeiro elemento que tem a classe about-person */
.about-person:nth-child(1) {
    animation-delay: .1s;
}

/* Caracteriza o segundo elemento que tem a classe about-person */
.about-person:nth-child(2) {
    animation-delay: .2s;
}

/* Caracteriza o terceiro elemento que tem a classe about-person */
.about-person:nth-child(3) {
    animation-delay: .3s;
}

/* Caracteriza o quarto elemento que tem a classe about-person */
.about-person:nth-child(4) {
    animation-delay: .4s;
}

/* Caracteriza o quinto elemento que tem a classe about-person */
.about-person:nth-child(5) {
    animation-delay: .5s;
}

/* Caracteriza o sexto elemento que tem a classe about-person */
.about-person:nth-child(6) {
    animation-delay: .6s;
}

/* Caracteriza o sétimo elemento que tem a classe about-person */
.about-person:nth-child(7) {
    animation-delay: .7s;
}

/* Caracteriza a div localizada na classe team-avatar detro do primeiro elemento com a classe about-person */
.about-person:nth-child(1) .team-avatar div {
    background-image: url('media/team/diniz.jpg');
}

/* Caracteriza a div localizada na classe team-avatar detro do segundo elemento com a classe about-person */
.about-person:nth-child(2) .team-avatar div {
    background-image: url('media/team/luan.jpeg');
}

/* Caracteriza a div localizada na classe team-avatar detro do terceiro elemento com a classe about-person */
.about-person:nth-child(3) .team-avatar div {
    background-image: url('media/team/guilherme.jpg');
    background-position: top center;
}

/* Caracteriza a div localizada na classe team-avatar detro do quarto elemento com a classe about-person */
.about-person:nth-child(4) .team-avatar div {
    background-image: url('media/team/barroso.jpg');
}

/* Caracteriza a div localizada na classe team-avatar detro do quinto elemento com a classe about-person */
.about-person:nth-child(5) .team-avatar div {
    background-image: url('media/team/arthur.jpg');
}

/* Caracteriza a div localizada na classe team-avatar detro do sexto elemento com a classe about-person */
.about-person:nth-child(6) .team-avatar div {
    background-image: url('media/team/pl.jpg');
}

/* Caracteriza a div localizada na classe team-avatar detro do sétimo elemento com a classe about-person */
.about-person:nth-child(7) .team-avatar div {
    background-image: url('media/team/miguel.jpg');
}

/* Caracteriza a div que está dentro da classe team-avatar, localizada dentro da classe about-person */
.about-person .team-avatar div {
    width: 90px;
    height: 90px;
    margin-top: -90px;
    background-position: center center;
    background-size: cover;
}

/* Caracteriza a classe content-two-bg */
#content-two-bg {
    background-image: url('media/effect3.jpg');
    background-position: bottom bottom;
    background-repeat: no-repeat;
    background-size: cover;
    mix-blend-mode: multiply;
    opacity: .6;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

/* Caracteriza o título h4 na classe content-two */
#content-two h4 {
    text-align: center;
    font-size: 12px;
}

/* Caracteriza o título h6 na classe content-two */
#content-two h6 {
    color: #985DC7;
}

/* Caracteriza o parágrafo na classe content-two */
#content-two p {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 12px;
}

/* Caracteriza o span na classe content-two */
#content-two span {
    color: #985DC7;

}

/* Caracteriza a classe about-person */
.about-person {
    max-width: 250px;
    margin-top: 50px;
    z-index: 3;
    background-color: rgb(36, 36, 36);
}

/* Caracteriza o título h6 na classe about-person quando a largura for até 576px */
@media (max-width: 576px) {
    .about-person h6 {
        font-size: 12px;
    }

    h3 {
        font-size: 25px;
    }

    p {
        font-size: 16px;
    }

    /* Caracteriza a imagem com a descrição "js-icon" dentro do id first-content */
    #first-content img[alt=js-icon] {
        height: 125px;
        z-index: 1;
        position: absolute;
    }

    /* Caracteriza a imagem com a descrição "html-icon" dentro do id first-content */
    #first-content img[alt=html-icon] {
        height: 125px;
        z-index: 1;
        top: 10px;
        left: 0;
        position: absolute;
    }

    /* Caracteriza a imagem com a descrição "css-icon" dentro do id first-content */
    #first-content .row .col-12:nth-child(2){
       display: none;
    }

    #second-content p {
        font-size: 12px;
    }
}

/* Caracteriza a classe card-header */
.card-header {
    height: 390px;
    max-height: 28vw;
    width: 80vw;
    max-width: 700px;
    overflow: hidden;
    animation: zoomOutAnimation ease 1s;
    background-color: white;
    background-image: linear-gradient(transparent, rgb(87, 87, 87));
}

/* Caracteriza a primeira div no id half-content no id third-content */
#third-content #game1 #half-content div {
    width: 560px;
    height: 300px;
    max-width: 95%;
    max-height: 100%;
    background-image: url('media/open-pong.JPG');
    background-size: cover;
    background-position: center center;
    border-radius: 20px;
    background-repeat: no-repeat;
}

/* Caracteriza a segunda div no id half-content no id third-content */
#third-content #game2 #half-content div {
    width: 560px;
    height: 300px;
    max-width: 95%;
    max-height: 100%;
    background-image: url('media/hit-mind.jpg');
    background-size: cover;
    background-position: center center;
    border-radius: 20px;
    background-repeat: no-repeat;
}

/* Caracteriza o id fourth-content */
#fourth-content {
    padding: 100px 0px 100px 0px;
    background: url('media/bg.jpg');
    background-attachment: fixed;
    background-size: cover;
}

/* Caracteriza a div dentro do id fourth-content */
#fourth-content>div {
    border: 4px solid #985DC7;
    background-color: #603b7f;
    width: 70%;
    max-width: 650px;
    height: 600px;
}

/* Caracteriza o input type "submit" dentro do id fourth-content */
#fourth-content input[type=submit] {
    width: 40%;
    height: 60px;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 500;
    background-color: #985DC7;
    border-color: #985DC7;
}

/* Caracteriza o input que não tenha type "submit" e textarea dentro do id fourth-content */
#fourth-content input:not([type=submit]),
#fourth-content textarea {
    padding-bottom: 16px;
    background-color: transparent;
    border: 0;
    width: 95%;
    border-bottom: 2px solid whitesmoke;
    /* border-right: 2px solid whitesmoke; */
}

/* Caracteriza o input e textarea que esteja focado dentro do id fourth-content */
#fourth-content input:focus-visible,
#fourth-content textarea:focus-visible {
    background-color: transparent;
    outline: 0;
}

/* Classes das animações */
@media (prefers-reduced-motion: no-preference) {
    .top-slidein-animation {
        animation: topSlideInAnimation ease 1s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }

    .right-slidein-animation {
        animation: rightSlideInAnimation ease 1s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }

    .left-slidein-animation {
        animation: leftSlideInAnimation ease 1s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
}

/* Animação para carregar a página */
@keyframes loadAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* Animação para carregar a animação com fade e slide de baixo */
@keyframes bottomSlideInAnimation {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* Animação para carregar a animação com fade e slide da direita */
@keyframes rightSlideInAnimation {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Animação para carregar a animação com fade e slide da esquerda */
@keyframes leftSlideInAnimation {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Animação para carregar a animação com fade e slide de cima */
@keyframes topSlideInAnimation {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Animação para carregar a animação com fade e zoom diminuindo */
@keyframes zoomOutAnimation {
    0% {
        transform: scale(2);
        opacity: 0.4;
    }

    100% {
        opacity: 1;
    }
}